In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = {'order_id': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
        'customer_id': [305,301,302,309,305,307,302,304,309,308,303,302,310,303,304,309,310,305,308,306], 
        'product_id': [701,702,703,704,704,701,702,701,705,704,703,706,707,708,709,709,709,709,711,715], 
        'quantity': [2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]}
customers = {'customer_id': [301,302,303,304,305,306,307,308,309,310], 
            'customer_name': ['Nick Rimando', 'Graham Zusi', 'Fabian Johnson', 'Brad Davis', 'Brad Pitts', 'Geoff Cameron', 'Julian Green', 'Brad Guzan', 'Jozy Altidore', 'William Smith'], 
            'customer_address': ['New York', 'Califonia', 'Paris', 'New York', 'Berlin', 'London', 'London', 'Paris', 'Paris', 'Liverpool'], 
            'customer_phone_number': ['0123456','0113322', '06122334', '0133445', '0945568', '0744778', '0712384', '06121994', '06132934', '0755789']
            }
products = {'product_id': [701,702,703,704,705,706,707,708,709,710,711,712,713,714,715], 
            'product_description': ['USB-C Charging Cable', 'Bose SoundSport Headphones', 'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop', 'Lightning Charging Cable','27in 4K Gaming Monitor','AA Batteries','Apple Airpods Headphones','iPhone','Flatscreen TV','27in FHD Monitor','20in Monitor','LG Dryer','ThinkPad Laptop'], 
            'product_price': [11.95, 99.99,600,11.99,1700.00,14.95,389.99,3.84,150,700,300,149.99,109.99,400,999.99]}

In [3]:
orders_df = pd.DataFrame(orders)
products_df = pd.DataFrame(products)
customers_df = pd.DataFrame(customers)

In [21]:
# An inner merge operation between the orders table and products table
products_orders = pd.merge(orders_df, products_df)
products_orders

,order_id,customer_id,product_id,quantity,product_description,product_price
0,1,305,701,2,USB-C Charging Cable,11.95
1,6,307,701,1,USB-C Charging Cable,11.95
2,8,304,701,1,USB-C Charging Cable,11.95
3,2,301,702,1,Bose SoundSport Headphones,99.99
4,7,302,702,1,Bose SoundSport Headphones,99.99
5,3,302,703,1,Google Phone,600.00
6,11,303,703,1,Google Phone,600.00
7,4,309,704,1,Wired Headphones,11.99
8,5,305,704,1,Wired Headphones,11.99
9,10,308,704,1,Wired Headphones,11.99
10,9,309,705,1,Macbook Pro Laptop,1700.00
11,12,302,706,1,Lightning Charging Cable,14.95
12,13,310,707,1,27in 4K Gaming Monitor,389.99
13,14,303,708,1,AA Batteries,3.84
14,15,304,709,1,Apple Airpods Headphones,150.00
15,16,309,709,1,Apple Airpods Headphones,150.00
16,17,310,709,1,Apple Airpods Headphones,150.00
17,18,305,709,1,Apple Airpods Headphones,150.00
18,19,308,711,1,Flatscreen TV,300.00
19,20,306,715,1,ThinkPad Laptop,999.99

The inner merge operation between the orders and the products table returns all the rows from orders and products tables where the product_id are the same.

In [22]:
# Use the resulting table to perform another inner merge operation with the customers table
customer_products_orders = pd.merge(products_orders, customers_df)
customer_products_orders

,order_id,customer_id,product_id,quantity,product_description,product_price,customer_name,customer_address,customer_phone_number
0,1,305,701,2,USB-C Charging Cable,11.95,Brad Pitts,Berlin,0945568
1,5,305,704,1,Wired Headphones,11.99,Brad Pitts,Berlin,0945568
2,18,305,709,1,Apple Airpods Headphones,150.00,Brad Pitts,Berlin,0945568
3,6,307,701,1,USB-C Charging Cable,11.95,Julian Green,London,0712384
4,8,304,701,1,USB-C Charging Cable,11.95,Brad Davis,New York,0133445
5,15,304,709,1,Apple Airpods Headphones,150.00,Brad Davis,New York,0133445
6,2,301,702,1,Bose SoundSport Headphones,99.99,Nick Rimando,New York,0123456
7,7,302,702,1,Bose SoundSport Headphones,99.99,Graham Zusi,Califonia,0113322
8,3,302,703,1,Google Phone,600.00,Graham Zusi,Califonia,0113322
9,12,302,706,1,Lightning Charging Cable,14.95,Graham Zusi,Califonia,0113322
10,11,303,703,1,Google Phone,600.00,Fabian Johnson,Paris,06122334
11,14,303,708,1,AA Batteries,3.84,Fabian Johnson,Paris,06122334
12,4,309,704,1,Wired Headphones,11.99,Jozy Altidore,Paris,06132934
13,9,309,705,1,Macbook Pro Laptop,1700.00,Jozy Altidore,Paris,06132934
14,16,309,709,1,Apple Airpods Headphones,150.00,Jozy Altidore,Paris,06132934
15,10,308,704,1,Wired Headphones,11.99,Brad Guzan,Paris,06121994
16,19,308,711,1,Flatscreen TV,300.00,Brad Guzan,Paris,06121994
17,13,310,707,1,27in 4K Gaming Monitor,389.99,William Smith,Liverpool,0755789
18,17,310,709,1,Apple Airpods Headphones,150.00,William Smith,Liverpool,0755789
19,20,306,715,1,ThinkPad Laptop,999.99,Geoff Cameron,London,0744778

The inner merge operation between the resulting table and the customer table returns all the rows from resulting table and customer table where the customer_id are the same.

In [23]:
# Perform an inner merge operation between customers and orders tables. 
customer_orders = pd.merge(customers_df, orders_df, on = 'customer_id', how = 'inner')
customer_orders

,customer_id,customer_name,customer_address,customer_phone_number,order_id,product_id,quantity
0,301,Nick Rimando,New York,0123456,2,702,1
1,302,Graham Zusi,Califonia,0113322,3,703,1
2,302,Graham Zusi,Califonia,0113322,7,702,1
3,302,Graham Zusi,Califonia,0113322,12,706,1
4,303,Fabian Johnson,Paris,06122334,11,703,1
5,303,Fabian Johnson,Paris,06122334,14,708,1
6,304,Brad Davis,New York,0133445,8,701,1
7,304,Brad Davis,New York,0133445,15,709,1
8,305,Brad Pitts,Berlin,0945568,1,701,2
9,305,Brad Pitts,Berlin,0945568,5,704,1
10,305,Brad Pitts,Berlin,0945568,18,709,1
11,306,Geoff Cameron,London,0744778,20,715,1
12,307,Julian Green,London,0712384,6,701,1
13,308,Brad Guzan,Paris,06121994,10,704,1
14,308,Brad Guzan,Paris,06121994,19,711,1
15,309,Jozy Altidore,Paris,06132934,4,704,1
16,309,Jozy Altidore,Paris,06132934,9,705,1
17,309,Jozy Altidore,Paris,06132934,16,709,1
18,310,William Smith,Liverpool,0755789,13,707,1
19,310,William Smith,Liverpool,0755789,17,709,1

The inner merge operation between the orders table and the customers table returns all the rows from orders and customer tables where the customer_id are equal.

In [24]:
# Perform an outer merge between customers and products tables.
customer_products = pd.merge(customers_df, products_df,  how = 'outer')
customer_products

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

The outer merge operation between the products and the customers gave a merge error as the two tables have no column(key) in common.

In [25]:
# Perform a left merge between orders and customers
order_customers = pd.merge(orders_df, customers_df,  how = 'left')
order_customers

,order_id,customer_id,product_id,quantity,customer_name,customer_address,customer_phone_number
0,1,305,701,2,Brad Pitts,Berlin,0945568
1,2,301,702,1,Nick Rimando,New York,0123456
2,3,302,703,1,Graham Zusi,Califonia,0113322
3,4,309,704,1,Jozy Altidore,Paris,06132934
4,5,305,704,1,Brad Pitts,Berlin,0945568
5,6,307,701,1,Julian Green,London,0712384
6,7,302,702,1,Graham Zusi,Califonia,0113322
7,8,304,701,1,Brad Davis,New York,0133445
8,9,309,705,1,Jozy Altidore,Paris,06132934
9,10,308,704,1,Brad Guzan,Paris,06121994
10,11,303,703,1,Fabian Johnson,Paris,06122334
11,12,302,706,1,Graham Zusi,Califonia,0113322
12,13,310,707,1,William Smith,Liverpool,0755789
13,14,303,708,1,Fabian Johnson,Paris,06122334
14,15,304,709,1,Brad Davis,New York,0133445
15,16,309,709,1,Jozy Altidore,Paris,06132934
16,17,310,709,1,William Smith,Liverpool,0755789
17,18,305,709,1,Brad Pitts,Berlin,0945568
18,19,308,711,1,Brad Guzan,Paris,06121994
19,20,306,715,1,Geoff Cameron,London,0744778

The left merge operation between the orders and the customers table returns all the rows from the orders table and only the rows from the customer table where the customer_id on both tables are equal.

In [26]:
# Perform a right merge between product and customers tables
product_customers = pd.merge(products_df, customers_df,  how = 'right')
product_customers

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

The right merge operation between the products and the customers table gave a merge error as the two tables have no column(key) in common.

In [20]:
# Use pandas concatenation method to join the three datasets together even if it means dropping some columns.
pd.concat([orders_df, products_df, customers_df])

,order_id,customer_id,product_id,quantity,product_description,product_price,customer_name,customer_address,customer_phone_number
0,1.0,305.0,701.0,2.0,NaN,NaN,NaN,NaN,NaN
1,2.0,301.0,702.0,1.0,NaN,NaN,NaN,NaN,NaN
2,3.0,302.0,703.0,1.0,NaN,NaN,NaN,NaN,NaN
3,4.0,309.0,704.0,1.0,NaN,NaN,NaN,NaN,NaN
4,5.0,305.0,704.0,1.0,NaN,NaN,NaN,NaN,NaN
5,6.0,307.0,701.0,1.0,NaN,NaN,NaN,NaN,NaN
6,7.0,302.0,702.0,1.0,NaN,NaN,NaN,NaN,NaN
7,8.0,304.0,701.0,1.0,NaN,NaN,NaN,NaN,NaN
8,9.0,309.0,705.0,1.0,NaN,NaN,NaN,NaN,NaN
9,10.0,308.0,704.0,1.0,NaN,NaN,NaN,NaN,NaN
10,11.0,303.0,703.0,1.0,NaN,NaN,NaN,NaN,NaN
11,12.0,302.0,706.0,1.0,NaN,NaN,NaN,NaN,NaN
12,13.0,310.0,707.0,1.0,NaN,NaN,NaN,NaN,NaN
13,14.0,303.0,708.0,1.0,NaN,NaN,NaN,NaN,NaN
14,15.0,304.0,709.0,1.0,NaN,NaN,NaN,NaN,NaN
15,16.0,309.0,709.0,1.0,NaN,NaN,NaN,NaN,NaN
16,17.0,310.0,709.0,1.0,NaN,NaN,NaN,NaN,NaN
17,18.0,305.0,709.0,1.0,NaN,NaN,NaN,NaN,NaN
18,19.0,308.0,711.0,1.0,NaN,NaN,NaN,NaN,NaN
19,20.0,306.0,715.0,1.0,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,701.0,NaN,USB-C Charging Cable,11.95,NaN,NaN,NaN
1,NaN,NaN,702.0,NaN,Bose SoundSport Headphones,99.99,NaN,NaN,NaN
2,NaN,NaN,703.0,NaN,Google Phone,600.00,NaN,NaN,NaN
3,NaN,NaN,704.0,NaN,Wired Headphones,11.99,NaN,NaN,NaN
4,NaN,NaN,705.0,NaN,Macbook Pro Laptop,1700.00,NaN,NaN,NaN
5,NaN,NaN,706.0,NaN,Lightning Charging Cable,14.95,NaN,NaN,NaN
6,NaN,NaN,707.0,NaN,27in 4K Gaming Monitor,389.99,NaN,NaN,NaN
7,NaN,NaN,708.0,NaN,AA Batteries,3.84,NaN,NaN,NaN
8,NaN,NaN,709.0,NaN,Apple Airpods Headphones,150.00,NaN,NaN,NaN
9,NaN,NaN,710.0,NaN,iPhone,700.00,NaN,NaN,NaN
10,NaN,NaN,711.0,NaN,Flatscreen TV,300.00,NaN,NaN,NaN
11,NaN,NaN,712.0,NaN,27in FHD Monitor,149.99,NaN,NaN,NaN
12,NaN,NaN,713.0,NaN,20in Monitor,109.99,NaN,NaN,NaN
13,NaN,NaN,714.0,NaN,LG Dryer,400.00,NaN,NaN,NaN
14,NaN,NaN,715.0,NaN,ThinkPad Laptop,999.99,NaN,NaN,NaN
0,NaN,301.0,NaN,NaN,NaN,NaN,Nick Rimando,New York,0123456
1,NaN,302.0,NaN,NaN,NaN,NaN,Graham Zusi,Califonia,0113322
2,NaN,303.0,NaN,NaN,NaN,NaN,Fabian Johnson,Paris,06122334
3,NaN,304.0,NaN,NaN,NaN,NaN,Brad Davis,New York,0133445
4,NaN,305.0,NaN,NaN,NaN,NaN,Brad Pitts,Berlin,0945568
5,NaN,306.0,NaN,NaN,NaN,NaN,Geoff Cameron,London,0744778
6,NaN,307.0,NaN,NaN,NaN,NaN,Julian Green,London,0712384
7,NaN,308.0,NaN,NaN,NaN,NaN,Brad Guzan,Paris,06121994
8,NaN,309.0,NaN,NaN,NaN,NaN,Jozy Altidore,Paris,06132934
9,NaN,310.0,NaN,NaN,NaN,NaN,William Smith,Liverpool,0755789

The concatenation of the 3 dataframes return all the 3 tables while performing a union operation along the indexes of the dataframes.